//hover
.link-hover-border-primary {
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: border-bottom 1s;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid $primary;
  }
}

.link-hover-warning {
  color: $white;
  &:hover {
    color: $warning;
  }
}
