.offcanvas-end {
  width: auto;
  height: 580px;
  margin-top: 80px;
  @include mobile {
    margin-top: 60px;
  }
  @include phones {
    width: 100%;
  }
}

// 滾軸樣式
.scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $secondary;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $primary;
  }
}

.scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
}
