//進度軸
//進度條
.timeline {
  border-top: 2px solid $secondary;
  .timeline-step {
    padding-top: 6px;
  }
  //進度指示-實心圓
  .timeline-pointer {
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background: $secondary;
      border: 1px solid $secondary;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: -5px;
      left: 50%;
    }
  }
}
//進度指示-空心圓
.timeline-step {
  position: relative;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background: $white;
    border: 1px solid $secondary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 50%;
  }
}
